@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Add</h1>
    <form action="calc/Add" method="get">
        <label>a:</label>
        <input type="number" name="a"/>
        <label>b:</label>
        <input type="number" name="b"/>
        <button>Calculate</button>
    </form>

    <h1 class="display-4">Subtract</h1>
    <form action="calc/Subtract" method="get">
        <label>a:</label>
        <input type="number" name="a"/>
        <label>b:</label>
        <input type="number" name="b"/>
        <button>Calculate</button>
    </form>
</div>
